html {
  background: url("background-min.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  height: 100%;
}

img {
  border-radius: 50%;
  max-width: 60%;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  font-size: 3em;
}

a:hover {
  opacity: 1.0;
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
  margin-top: 3px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 3px;
}

.info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
  text-align: center;
  display: block;
  opacity: 0;
  -webkit-animation: fadein 2s forwards 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s forwards 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s forwards 1s;
  /* Internet Explorer */
  -o-animation: fadein 2s forwards 1s;
  /* Opera < 12.1 */
  animation: fadein 2s forwards 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.person {
  display: inline-block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 819px) {
  img {
    max-width: 40%;
  }
  a {
    font-size: 2em;
  }
}
